<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>订场管理</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
</head>
<body>
  <!--<video src="" style="float: left;"></video>-->
  <!--<button class='shot' onclick="getImage()">拍照</button>-->
  <!--<canvas id='canvas'></canvas>-->
  <!--<img id="images" src=''>-->
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
</body>
<script>
  // let vi;
  // const constraints = {audio: false, video: {width: 250,height: 250}};
  // navigator.mediaDevices.getUserMedia(constraints).then(mediaStream => {
  //   const video = document.querySelector('video');
  //   video.srcObject = mediaStream;
  //   video.onloadedmetadata = function(e) {
  //     video.play();
  //     vi = video;
  //   };
  // });
  //
  // const canvas = document.getElementById('canvas')
  //
  // function getImage() {
  //   canvas.getContext('2d').drawImage(vi, 0, 0, 250, 250);
  //   console.log(canvas.toDataURL("image/png"))
  // }
</script>
</html>
